@{
    ViewData["Title"] = "Register Completed";
}

<div class="alert alert-success mt-5 text-center rounded-3">
    <h2 class="alert-heading">Registeration Completed</h2>
    <p class="mb-0 fs-4">Congratulations, your account has registered successfully!</p>
    <p>Thank you :)</p>
</div>
<a class="btn btn-secondary btn-lg mt-5" asp-controller="Accounts" asp-action="Login">
    <i class="bi bi-box-arrow-in-right"></i>
    Log in into your account
</a>